*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'inter' system-ui, sans-serif ;
}
main{
    height: 100%;
    width: 100%;
    background-image: url(bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        box-shadow: inset 1px -10px 500px #92bec4;

}
.menu-icon{
    display: none;
    font-size: 1.9rem;
    cursor: pointer;
}




nav{
    height:3rem;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}
.navbar{
    display: flex;
    gap: 5px;
    margin: 0;
}
.navbar.show{
    display: flex;
    flex-direction: column;
    
}

.title h4{
    font-size: 1.8rem;
    margin: 3rem;

}
ul li{
    list-style: none;
    padding: 0.8rem;
    background-color: #f3f3f3;
    border-radius: 0.5rem;
}
ul li:hover{
    background-color:#b4b4b4;
} 
ul li a:hover{
    color: whitesmoke;
}
ul li a{
    color: rgb(93, 87, 87);
   text-decoration: none;
   font-size: 0.9rem;
    padding: 0.8rem;
    font-weight: 700;
}
.btn{
    padding: 4px;
    background-color: #2563EB;
    border-radius: 5px;
    border: 1px solid black;
    color: whitesmoke;
    font-size: 0.8rem;
    font-weight: 300;
}
.btn:active{
    scale: calc(0.9);

}
.btn:hover{
    background-color:#3776fff6;
    cursor: pointer;
}
.cnt:hover{
    cursor: pointer;
}
button{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid ;
}

.bottom:active{
 scale: calc(0.9);
}
 .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;


}
.hero-left{
    width: 50%;
    margin-top: 6rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-left h1{
    font-size:7rem;
    font-weight: 550;
    
}
.hero-left p{
    font-size: 2rem;
    font-weight: 300; 
    
}

.main-btn{
        display: flex;
        gap: 2rem;
    margin: 1rem;
    
}
.main-btn .bottom{
    font-size: 1rem;
    padding: 0.4rem;
}
.hero-right{
    position: relative;
    height:40rem;
    width: 50%;
    
}
.blob{
    position: absolute;
    /* height: 30rem;
    width: 30rem; */
    /* background-color: #ff6f61;
    border-radius: 60% 40% 70% 30% / 40% 60% 40% 60%; */
    /* top: 5%; */
    z-index: 1;
}
.hero-img{
position: absolute;
z-index: 2;
/* height: 45rem; */
height: auto ;
max-width: 100%;
top: 10%;
bottom: 10%;

}

/* Tablet */
@media (max-width: 1024px){
    

    .hero{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .hero-left{
        width: 100%;
        margin: 4rem 0;
        align-items: center;
        gap: 0.5rem;
    }
    .hero-left h1{
        font-size: 3rem;
    }
    .hero-left p{
        font-size: 1.5rem;
    }
    .hero-right{
        height: 34rem;
    }
    .blob{
        top: 10%;
    }
    .hero-img{
        top: -5%;
    }
    #contact{
        margin-top: 2rem;
        height: 100%;
    }
}
/* Mobile */
@media (max-width: 768px) {
    
  .navbar{
  display: none;
  position: absolute;
  /* top: 3rem ; */
  top: 3.5rem;
  /* right: 0; */
  right: 1rem;

  padding:  0;
  gap: 0;
  text-align: center;
  margin-right: 0.9rem;

  /* background-color: #b4b4b4; */
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 150px;
  border-radius: 8px;
  z-index: 100;
  border: none;
  }

  
  ul li{
    padding: 0.2rem;
    background-color: transparent;
    backdrop-filter: blur(50px);
}
 .title h4{
    margin:0;

}
  .menu-icon{
    display: block;
   
}

  .hero-left h1 {
    font-size: 3rem;
  }
  .hero-left p{
    font-size: 1.5rem;
  }

  .card {

    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
  }
.page{
    width: 80%;
}
  .middel{
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
  }

 #contact{
    flex-direction: column;
    gap: 2rem;
    
  }
  input{
    padding: 2PX;
    margin: 0.5rem;
    font-size: 0.4rem;
    width: 15rem;
}
.middel .skill{
    margin-left:0;
}
.middel .icon{
    margin-left: 0;
    width: 100%;
}
.middel .page{
    height: auto;
    width: 18rem;
}

.my-process{
}
.number-1{
    flex-direction: column;
}

  .get-in{
    padding-bottom: 1rem;
}
}

/* PAGE-2  */

  .middel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-evenly;
    /* background-color: whitesmoke; */

   
}
.skill{
    font-size: 1.7rem;
    margin-left: 3rem;

    
}
.icon{
    display:flex;
  justify-content:space-around;
  padding:1rem;
    width: 50%;
    background-color:#f3f3f3;
    border-radius: 1.5rem;
    margin-left: 3rem;

}
.icon-img{
    padding: 0.2rem;
    border-radius: 50%;

    
}
.icon-img:hover{
  transform: scale(1.5);
  transition: 0.3s ease;

}
.box-1{
    background-color: #eb6025;
}
.box-2{
    background-color: #257beb;
}.box-3{
    background-color: #cba320;

}
.card{ 
    display: flex;
    
    gap: 1rem;
}
.page{
     background-color: transparent;
    backdrop-filter: blur(5rem);
    border-top: 1px  solid #b4b4b434;
    border-left: 1px  solid #b4b4b48c;
    border-right: 1px  solid #b4b4b4;
    border-bottom: 1px  solid #b4b4b4;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow:  2px 2px 10px #92bec4;
    margin:0rem 0.5rem;
}
.page img{
    height: auto;
    width: 100%;
    /* margin: 0.5rem; */
}
 h5{
    font-size: 1.2rem;
}
 p{
    font-size: 1rem;
    padding: 0.4rem;
    color: #616161;
}
.bottom-btn{
    text-align: center;
}
.click{
width: 8rem;    
padding: 0.5rem;
font-size: 1rem;

}
#contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;

   
}
.skill-2{
    font-size: 2rem;
    margin: 0.5rem;
}
.number-1{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    gap: 0.5rem;
}

.mini-card{
    background-color: whitesmoke;
    height: 14rem;
    width: 12rem;
    padding: 10px;
     border-top: 1px  solid #b4b4b434;
    border-left: 1px  solid #b4b4b48c;
    border-right: 1px  solid #b4b4b4;
    border-bottom: 1px  solid #b4b4b4;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.number{
font-size: 2rem;
/* border-bottom-right-radius: 1.5rem; */
border-top-right-radius: 1.5rem;
border-bottom-left-radius: 1.5rem;
background-color: #92bec4;
padding: 0.3rem;
color: rgb(0, 0, 0);
}
input{
    padding: 0.2rem;
    margin: 1rem;
    font-size: 0.9rem;
    width: 22rem;
    background-color: whitesmoke;
    border-radius: 5px;
    
}
input:focus {
  outline: none;
  border: 2px solid #2563eb;
}
.submit{
    background-color: #92bec4;
    font-size: 0.9rem;
    margin-left: 1rem;
}

